/*----------------------------
    POLICES DE CARACTERES
-----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
* h1, * .footer__titre, * .footer__titre__restaurant {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

/*-------------
    COULEURS
-------------*/
/*---------------
    ANIMATIONS
-----------------*/
/*------------
    LOADING
-------------*/
@-webkit-keyframes disappear {
  to {
    visibility: hidden;
  }
}
@keyframes disappear {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 2;
  background: white;
  opacity: 0.9;
  -webkit-animation: disappear 1s 3s forwards;
          animation: disappear 1s 3s forwards;
  align-items: center;
}
.loading i {
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-----------
    COEUR
------------*/
.info__icone {
  position: relative;
  margin-right: 15px;
}
.info__icone .coeurPlein {
  font-size: 17px;
  padding-top: 0.5px;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}
.info__icone .coeurPlein:hover {
  opacity: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__icone .coeurVide {
  z-index: 1;
  font-size: 17px;
}

/*----------------------------
    APPARITION DES PLATS
-----------------------------*/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.carte__info {
  -webkit-animation: fadein 1s backwards;
          animation: fadein 1s backwards;
}
.carte__info:nth-child(1) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.carte__info:nth-child(2) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.carte__info:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.carte__info:nth-child(4) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.carte__info:nth-child(5) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.carte__info:nth-child(6) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.carte__info:nth-child(7) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
.carte__info:nth-child(8) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
.carte__info:nth-child(9) {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

/*-----------
    CHECK
------------*/
.info__texte {
  width: 74%;
}
.info__texte .texte__p, .info__texte .texte__titre {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.info__prix {
  width: 25%;
}

.carte__info {
  overflow: hidden;
}
.carte__info:hover .info__icone {
  margin: 0;
}
.carte__info:hover .info__icone i {
  transform: rotate(360deg);
}
.carte__info .info__icone {
  transition: all 1s ease-out;
  background: #99E2D0;
  color: white;
  margin: -55px;
  border-radius: 0 10px 10px 0;
  height: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 55px;
}
.carte__info .info__icone i {
  transition: all 1s;
}

/*-------------------
    BOUTON COULEUR
--------------------*/
.bouton__couleur {
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: white;
  padding: 15px 0;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 4px 4px 10px #d6d6d6;
  transition: all 0.3s ease-out;
  width: 75%;
  align-self: center;
}
.bouton__couleur:hover {
  box-shadow: 4px 4px 10px #959595;
  filter: opacity(0.8);
}

/*-------------------
    BOUTON NOUVEAU
--------------------*/
.carte__lien {
  position: relative;
}
.carte__lien .lien__nouveau {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 4px 12px;
  background: #99e2d0;
  color: #139273;
  border-radius: 3px;
  font-weight: 500;
}

/*------------
    HEADER
-------------*/
header {
  text-align: center;
  /*Formulaire*/
}
header .header__localisation {
  background: linear-gradient(to bottom, #d4d4d4, 2%, #eaeaea 9%);
}
header .header__localisation .localisation__formulaire {
  padding: 10px 0;
}
header .header__localisation .localisation__formulaire .localisation__input {
  background: #eaeaea;
  border: none;
  text-align: center;
}
header .header__localisation .localisation__formulaire .localisation__input::-moz-placeholder {
  color: black;
  font-weight: 400;
}
header .header__localisation .localisation__formulaire .localisation__input:-ms-input-placeholder {
  color: black;
  font-weight: 400;
}
header .header__localisation .localisation__formulaire .localisation__input::placeholder {
  color: black;
  font-weight: 400;
}

/*------------
    FOOTER
-------------*/
footer {
  background: #353535;
  color: #FFFFFF;
  padding: 25px 0 30px 25px;
  color: #e5e5e5;
}
footer .footer__titre {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 15px;
  color: #FFFFFF;
}
footer .footer__liens a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 15px;
  margin-left: 10px;
}
footer .footer__liens a p {
  margin-left: 10px;
}

/*-----------------
    RESTAURANTS
------------------*/
/*------------
    HEADER
--------------*/
.header__restaurant {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}
.header__restaurant a {
  position: absolute;
  left: 30px;
  font-size: 20px;
  color: black;
}
.header__restaurant a:visited {
  color: black;
}

/*----------
    MAIN
-----------*/
.main__restaurant {
  background: #f7f7f7;
}
.main__restaurant .img__restaurant {
  max-width: 100%;
}
.main__restaurant .container__restaurant {
  background: #f7f7f7;
  position: relative;
  top: -50px;
  border-radius: 40px 40px 0 0;
}
.main__restaurant .container__restaurant .restaurant__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 10px 15px;
}
.main__restaurant .container__restaurant .restaurant__titre h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.main__restaurant .container__restaurant .restaurant__carte {
  padding: 10px;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__titre {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 20px;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__titre span {
  border-bottom: 3.5px solid #99E2D0;
  padding-bottom: 5px;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__info {
  background: white;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__info .info__texte .texte__p {
  font-size: 13.5px;
  font-weight: 300;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__info .info__prix {
  font-weight: bold;
  align-self: end;
}
.main__restaurant .container__restaurant .restaurant__carte .carte__info .info__texte, .main__restaurant .container__restaurant .restaurant__carte .carte__info .info__prix {
  padding: 10px;
}
.main__restaurant .main__bouton {
  text-align: center;
}
.main__restaurant .bouton__commander {
  width: 50%;
}

/*-------------------------
    TABLETTE ET DESKTOP
--------------------------*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
  /*----HEADER----*/
  header .header__titre {
    padding: 20px;
  }
  header .header__localisation {
    padding: 10px;
  }
  /*----MAIN----*/
  main .top .top__bouton {
    width: 30%;
  }
  main .fonctionnement .fonctionnement__liste {
    display: flex;
  }
  main .restaurant .restaurant__articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .restaurant .restaurant__articles .restaurant__carte {
    width: 45%;
  }
  main footer {
    padding: 30px 0;
  }
  main footer .footer__liens {
    display: flex;
    justify-content: space-around;
  }
}
/*------------------------
    TABLETTE ET DESKTOP
-------------------------*/
@media screen and (min-width: 768px) and (max-width: 1700px) {
  .footer__liens {
    display: flex;
    justify-content: space-evenly;
  }
}
/*--------------
    TABLETTE
---------------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*----FOOTER----*/
  footer .footer__titre {
    padding: 0 0 15px 25px;
  }
}
/*-------------
    DESKTOP
--------------*/
@media screen and (min-width: 992px) and (max-width: 1700px) {
  /*Fonctionnement*/
  .fonctionnement .fonctionnement__liste {
    justify-content: space-around;
  }
  .fonctionnement .fonctionnement__liste .liste__element {
    width: 100%;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  /*Restaurants*/
  .restaurant .restaurant__articles .restaurant__carte {
    width: 23%;
  }
  /*----FOOTER----*/
  footer .footer__titre {
    display: none;
  }
}
/*---------------------------------------------------
    MEDIA QUERIES POUR LES PAGES DES RESTAURANTS
----------------------------------------------------*/
/*-------------------------
    TABLETTE ET DESKTOP
--------------------------*/
@media screen and (min-width: 768px) and (max-width: 1700px) {
  .main__restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__restaurant .img__restaurant {
    display: none;
  }
  .main__restaurant .container__restaurant {
    width: 80%;
    margin: 80px 0;
    position: initial;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
  }
  .main__restaurant .container__restaurant .main__bouton button {
    margin-bottom: 25px;
  }
  .gout {
    background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center fixed;
  }
  .french {
    background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat center fixed;
  }
  .enchantee {
    background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat center fixed;
  }
  .sens {
    background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat center fixed;
  }
  .background {
    background-size: cover;
  }
}
/*--------------
    TABLETTE
---------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .carte__info .info__prix {
    width: 0%;
  }
}
/*------------
    DESKTOP
-------------*/
@media screen and (min-width: 992px) and (max-width: 1700px) {
  .container__restaurant {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
  }
  .container__restaurant .restaurant__titre {
    width: 100%;
  }
  .container__restaurant .restaurant__carte {
    width: 30%;
  }
  .container__restaurant .main__bouton {
    width: 100%;
  }
}
/*----------
    MAIN
----------*/
/*------TOP------*/
.top {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 200px;
  padding: 24px;
}
.top .top__texte {
  font-weight: 300;
}

/*------Fonctionnement------*/
.fonctionnement .fonctionnement__titre {
  padding: 30px 0 0 20px;
}
.fonctionnement .fonctionnement__liste {
  list-style: none;
  counter-reset: li;
  font-size: 11px;
  font-weight: 700;
}
.fonctionnement .fonctionnement__liste .liste__element {
  background: #f7f7f7;
  padding: 20px;
  margin: 25px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #d6d6d6;
  transition: background 0.3s;
}
.fonctionnement .fonctionnement__liste .liste__element:hover {
  background: #f5edff;
}
.fonctionnement .fonctionnement__liste .liste__element::before {
  content: counter(li);
  counter-increment: li;
  color: white;
  display: inline-block;
  margin-left: -2.8em;
  padding: 4px 8px;
  background: #9356DC;
  text-align: center;
  border-radius: 10px;
}
.fonctionnement .fonctionnement__liste .liste__element .element {
  font-size: 16px;
}
.fonctionnement .fonctionnement__liste .liste__element .element__icone {
  margin: 0 10px;
  color: #787878;
}
.fonctionnement .fonctionnement__liste .liste__element:hover .element__icone {
  color: #9356DC;
}

/*------Restaurants------*/
.restaurant {
  background: #f7f7f7;
}
.restaurant .restaurant__titre {
  padding: 30px 0 0 20px;
  padding-bottom: 10px;
}
.restaurant .restaurant__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.restaurant .restaurant__articles .restaurant__carte {
  margin: 8px 0;
  box-shadow: 4px 4px 10px #d6d6d6;
  background: #FFFFFF;
  border-radius: 20px;
  width: 88%;
}
.restaurant .restaurant__articles .restaurant__carte .carte__lien {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant__articles .restaurant__carte .carte__lien .lien__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
}
.restaurant .restaurant__articles .restaurant__carte .carte__lien .lien__info .info__texte {
  padding: 15px;
}
.restaurant .restaurant__articles .restaurant__carte .carte__lien .lien__info .info__texte h3, .restaurant .restaurant__articles .restaurant__carte .carte__lien .lien__info p {
  margin-bottom: 5px;
}
.restaurant .restaurant__articles .restaurant__carte .carte__lien img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}/*# sourceMappingURL=main.css.map */