@import "./base/font";
@import "./utils/variables";
@import "./components/boutons";


/*------------
    HEADER
-------------*/
header {
    text-align: center;

    /*Formulaire*/
    .header__localisation {
        background: linear-gradient(to bottom, #d4d4d4, 2%, #eaeaea 9%);

        .localisation__formulaire {
            padding: 10px 0;

            .localisation__input {
                background: #eaeaea;
                border: none;
            }
    
            .localisation__input::placeholder {
                color: black;
                font-weight: 400;
            }
        }

        
    }
}


/*----------
    MAIN
----------*/

/*------TOP------*/
.top {
    background: $quaternaire;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 200px;
    padding: 24px;

    .top__texte {
        font-weight: 300;
    }
}

/*------Fonctionnement------*/
.fonctionnement {
padding: 45px 20px;

    .fonctionnement__liste {
        list-style: none;
        counter-reset: li;
        font-size: 11px;
        font-weight: 700;

        .liste__element {
            background: $quaternaire;
            padding: 20px;
            margin: 25px;
            border-radius: 20px;
            box-shadow: 4px 4px 10px #d6d6d6;
            &::before {
                content: counter(li); 
                counter-increment: li;
                color: white;
                display: inline-block;
                margin-left: -2.8em;
                padding: 4px 8px;
                background: $primaire;
                text-align: center;
                border-radius: 10px;
            }

            .element {
                font-size: 16px;
            }
    
            .element__icone {
                margin: 0 10px;
                color: #787878;
            }
            .element__icone--primaire {
                color: $primaire;
            }
        }
    }
}