/*----------------------------
    POLICES DE CARACTERES
-----------------------------*/ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    h1, .footer__titre, .footer__titre__restaurant {
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    }
}