/*-----------
    COEUR
------------*/
.info__icone {
    position: relative;
    margin-right: 15px;
    .coeurPlein {
        opacity: 0;
        position: absolute;
        transition: opacity 1s;
        &:hover {
            opacity: 1;
            background: linear-gradient(to top, $primaire, $secondaire);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .coeurVide {
       z-index: 1;
    }
}